__pycache__
**/__pycache__/
rsenv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.env
.env
.env.*

# Logs
*.log
logs/
error.log

# VSCode / IDE
.vscode/
.idea/
*.swp

# Virtualenv
venv/
env/
.venv/

# OS / Misc
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/
.tox/

# MyPy / Coverage
.mypy_cache/
coverage.xml
htmlcov/
.coverage	

# Compiled files
build/
dist/
*.spec

# FAISS or large model data (if any)
resources/**/*.faiss
resources/**/*.pkl

#CUSTOM

resources